section.hamburger-popup#hamburger-popup
  .container  
    .row
      .col-5
        a(href="#").header__btn.popup-book__btn.upper Бронь льда
      .col-2
        .hamburger
          .hamburger__field#hamburger 
            span.bar 
            span.bar
      .col-5
        .header__number 8 495 602 02 32
    .row
      .popup-humburger 
        .popup-humburger__content.text-center
          ul.navbar
            li.navbar__item 
              a(href="#offer").menu__link мы
            li.navbar__item 
              a(href="#opportunities").menu__link возможности 
            li.navbar__item 
              a(href="#benefits").menu__link преимущества
            li.navbar__item 
              a(href="#gallery").menu__link галерея
            li.navbar__item 
              a(href="#events").menu__link события
            li.navbar__item 
              a(href="#comment").menu__link Отзывы
            li.navbar__item 
              a(href="#connection").menu__link Контакты