header#header.header
  .container 
    .row
      .col-5
        a(href="#").header__btn.popup-book__btn.upper Бронь льда
      .col-2
        .hamburger
          .hamburger__field#hamburger 
            span.bar 
            span.bar
      .col-5
        .header__number 8 495 602 02 32
    .row
      .col.d-flex.justify-content-center
        img(src="../images/header/logo.png", alt="logo").logo
      .col-12
        .wtf.d-flex.justify-content-center.align-items-center.flex-md-row.flex-column.upper
          span.header__subtitle новый
          h1.header__title ледовый комплекс
          span.header__subtitle в москве
      .col.d-flex.justify-content-center
        span.header__paragraph
          | Москва,
          br
          | Волоколамское шоссе, д.88 
  .header__rec

  .popup#popup
    .menu#navbar-menu
      li.menu__item 
        a(href="#").menu__link мы
      li.menu__item 
        a(href="#").menu__link возможности 
        li.menu__item 
        a(href="#").menu__link преимущества
        li.menu__item 
        a(href="#").menu__link галерея
        li.menu__item 
        a(href="#").menu__link события
        li.menu__item 
        a(href="#").menu__link отзывы
        li.menu__item 
        a(href="#").menu__link контакты 

