.container
  .row 
    .col
      .popup-book 
        .popup-book__content.text-center 
          button.popup-close
            span.popup-close__first 
            span.popup-close__second
          .popup-form 
            form.from(action="#")
              h2.form__title Бронирование льда
              input(name="user_name" required type="text" placeholder="Имя").form__input
              input(name="user_phone" required type="text" placeholder="Телефон").form__input
              input(name="date_time" required type="text" placeholder="Дата и время").form__input
              input(name="user_comment" required type="text" placeholder="Комментарий").form__input
              p.form__text Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности.
              button(type="submit" name="submit").form__btn.btn.upper Отправить

      .popup-connect 
        .popup-connect__content.text-center 
          button.popup-close
            span.popup-close__first 
            span.popup-close__second
          .popup-form
            form.from(action="#")
              h2.form__title Связаться с нами
              input(name="user_name" required type="text" placeholder="Имя").form__input
              input(name="user_email" required type="text" placeholder="E-mail").form__input
              input(name="date_time" required type="text" placeholder="Сообщение").form__input
              p.form__text Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности.
              button(type="submit" name="submit").form__btn.btn.upper Отправить
