footer.footer
  img(src="../images/gallery/gallery-rec.png", alt="rec").footer__rec
  .container 
    .row.d-flex.justify-content-between
      .col-2.d-flex.align-content-between.flex-column.justify-content-between
        span.footer__date.align-self-end © 2022
        .footer__socials.align-self-end
          span Мы в соцсетях:
          .footer__links.align-self-end
            a VK 
            a OK
            a Telegram
      .col-8.footer-center
        img(src="../images/header/logo.png", alt="logo").footer__logo
        a.footer__privacy Политика конфеденциальности
      .col-2.d-flex.align-content-between.flex-column.justify-content-between
        span.footer__rights 
          | Ледовый комплекс «Луч». 
          br
          | Все права защищены.
        span.footer__addres
          | Москва, 
          br
          | Волоколамское шоссе, д.88
